
body {
    background-color: #fffbf7;
    margin: 0;
}
h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
}
h3 {
    color: #46484c;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-bottom: 30px;
}
p {
    color: #8b8b8bcc;
}
button {
    color: #fff;
    background: #025157;
    order: 0;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;
}
input {
    border: 1px solid #b6b6b6;
    padding: 6px  20px;
    width: 60%;
    max-width: 250px;
}
form{
    height: 55px;
}
.header {
    margin: 40px 20px 0;
    font-size: 0;
}
.header ul{
    padding: 0px;
}
.header li {
    display: inline;
    margin: 0 15px;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.header .logo {
    width: 20%;
}
.header .navbar {
    width: 60%;
    text-align: center;
}
.header .actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
}
.header .actions button {
    color: #ffffff;
    background-color: #67b54b;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;
}
.main {
    margin-top: 150px;
    text-align: center;
}
.bodyimg {
    width: 90%;
}
article{
    display: block;
}
.publish{
    display: flexbox;
}
.publish h3{
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publish p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}
.publish input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}
.publish-text p .input{
    color: #8b8b8bcc;
    margin-top: 15px;
}
.features{
    background-color: #025157;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 5% 10%;
}
.features-card{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.features-content{
    flex: 2;
}
.features .features-card .features-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.feature-content.image{
    margin: 0;
}
.feature-content.image img{
    width: 100px;
}